@import "tailwindcss";

.HeaderMobileColor {
  background-color: rgb(36, 46, 66);
}

.HeaderLaptopColor {
  background-color: rgb(19, 25, 33);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
